.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
a {
  text-decoration: none;
  color: navy;
  font-size: 18px;
  font-weight: 600;
}
li{
  display: inline-block;
  padding: 10px;
}
.child-comp {
  width: 40%;
  margin: 0 auto;
  border: 1px solid lightgoldenrodyellow;
  padding: 20px;
}
.child-content {
  padding: 5px;
  font-size: 18px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.add-btn{
  padding: 10px 20px;
  margin: 5px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
